* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

main {
    background-color: rgb(211, 194, 194);
    width: 60vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(7,1fr);
}

.item {
background-color: rgb(100, 94, 94);
border: 1px solid rgb(61, 58, 58);
color: white;
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
}

.item1 {
    /* 1-3 & 2-7 */
    grid-area: 1/2/3/7;
}

.item2 {
    /* 1-3 & 8-13 */
    grid-area: 1/8/3/13;
}

.item3 {
    /* 1-3 & 14-16 */
    grid-area: 1/14/3/16;
}

.item4 {
    /* 4-8 & 2-4 */
    grid-area: 4/2/8/4;
}

.item5 {
    /* 4-5 & 5-6 */
    grid-area: 4/5/5/6;
}

.item6 {
    grid-area: 4/7/5/8;
}

.item7 {
    grid-area: 4/9/5/10;
}

.item8 {
    grid-area: 4/11/6/13;
}

.item9 {
    grid-area: 4/14/8/16;
}

.item10 {
    grid-area: 6/5/8/7;
}

.item11 {
    grid-area: 6/8/8/10;
}

.item12 {
    grid-area: 7/11/8/13;
}